<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TAREFA</title>
    <script th:inline="javascript">
        var nomeUrl = "[[${nome}]]";

        if (!nomeUrl) {
            var url = window.location.href.replace("/tarefa", "");
            window.history.pushState("", "", url);
        }
    </script>
</head>
<body>
<form th:action="@{/tarefa/{id}(id=${id})}" method="post">
    <input type="hidden" name="_method" value="put" />
    <input type="hidden" name="id" th:value="${id}" />
    <input type="text" name="titulo" value="" th:value="${tituloTarefa}" onkeydown="verificarEnter(event)">
</form>
<script>
    function verificarEnter(event) {
        if (event.key === "Enter") {
            event.preventDefault();

            const form = event.target.closest("form");
            form.submit();
        }
    }
</script>
</body>
</html>
