<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TAREFA</title>
    <script th:inline="javascript">
        var nomeUrl = "[[${nome}]]";

        if (!nomeUrl) {
            var url = window.location.href.replace("/tarefa", "");
            window.history.pushState("", "", url);
        }
    </script>
</head>
<body>
<form th:action="@{{id}(id=${id})}" method="post">
    <input type="hidden" name="_method" value="put" />
    <input type="hidden" name="id" th:value="${id}" />
    <input type="text" name="titulo" value="" th:value="${tituloTarefa}" onkeydown="verificarEnter(event)">
</form>

<form th:action="@{/item/criar/{idTarefa}(idTarefa=${id})}" method="post">
    <input type="text" name=nomeItem id="checklistItemInput" placeholder="Item 1" onkeyup="verificarEnter(event)">
    <input type="button" id="addItemBtn" style="display: none;">
</form>

<div id="checklistItemsContainer">
    <!-- Iterar sobre os itens e renderizá-los -->
    <div th:each="item : ${itens}" class="checklist-item">
        <input type="checkbox" name="checklistItem" th:value="${item.item}">
        <label th:text="${item.item}" data-item-id="${item.id}" class="checklist-label"></label>
        <button onclick="editarItem(event, this.getAttribute('data-item-id'))" class="edit-button">Editar</button>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function() {
        $(".checklist-label").click(function(event) {
            const itemId = $(this).data("item-id");
            editarItem(event, itemId);
        });
    });

    
    function verificarEnter(event) {
        if (event.key === "Enter") {
            event.preventDefault();

            const input = event.target;
            const newItem = input.value.trim();

            if (newItem !== "") {
                const form = input.closest("form");
                if (form.id === "checklistForm") {
                    const div = document.createElement("div");
                    div.className = "checklist-item";

                    const checkbox = document.createElement("input");
                    checkbox.type = "checkbox";
                    checkbox.name = "checklistItem";
                    checkbox.value = newItem;

                    const label = document.createElement("label");
                    label.appendChild(document.createTextNode(newItem));

                    const hiddenInput = document.createElement("input");
                    hiddenInput.type = "hidden";
                    hiddenInput.name = "checklistItems";
                    hiddenInput.value = newItem;

                    div.appendChild(checkbox);
                    div.appendChild(label);
                    div.appendChild(hiddenInput);

                    form.insertBefore(div, input);
                    input.value = "";
                    input.focus();

                    // Atualizar o valor do campo de entrada do checklist no formulário
                    const checklistItemInput = document.getElementById("checklistItemInput");
                    checklistItemInput.value = newItem;

                    // Acionar o botão de adicionar item
                    const addItemBtn = document.getElementById("addItemBtn");
                    addItemBtn.click();
                } else {
                    event.preventDefault();

                    form.submit();
                }
            }
        }
    }

    function editarItem(event, itemId) {
        const label = event.target;
        const div = label.parentNode;
        const input = document.createElement("input");
        input.type = "text";
        input.value = label.textContent;
        input.dataset.itemId = itemId;
        input.onkeydown = function(event) {
            if (event.key === "Enter") {
                event.preventDefault();
                salvarEdicaoItem(input, itemId);
            }
        };

        const button = document.createElement("button");
        button.textContent = "Salvar";
        button.onclick = function() {
            salvarEdicaoItem(input, itemId);
        };

        div.replaceChild(input, label);
        div.appendChild(button);
        
        input.focus();
        input.select();
    }

    function salvarEdicaoItem(input, itemId) {
        const newItemText = input.value.trim();
        const label = document.createElement("label");
        label.textContent = newItemText;
        label.dataset.itemId = itemId;

        // Substituir o campo de entrada e o botão pelo label
        const div = input.parentNode;
        div.replaceChild(label, input);
        div.removeChild(div.lastChild);

        // Realizar a requisição para alterar o nome do item
        const url = "/item/alterarNome/" + itemId + "/${id}";
        const formData = new FormData();
        formData.append("nomeItem", newItemText);

        fetch(url, {
            method: "POST",
            body: formData
        })
        .then(function(response) {
            if (response.ok) {
                console.log("Nome do item alterado com sucesso!");
            } else {
                console.error("Erro ao alterar o nome do item.");
            }
        })
        .catch(function(error) {
            console.error("Erro ao realizar a requisição:", error);
        });
    }
</script>
</body>
</html>
